body {
    background-color: bisque;
}

.column {
    float: left;
    width: 200px;
    padding: 5px;
    margin: 10px;
  }
 
.row::after {
    content: "";
    clear: both;
    display: table;
  }  

  .buttons {
    display:flex;
    justify-content: center;
    padding:5px

  }
  .button {
    margin: 5px;
  }
  img {
    width:250px;
    height:150px
  }
  .elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;


  }
  .cart {
    margin: 5px;
  }
  .shoes {
    background-color:blue;
    display: flex;
    justify-content:space-around;
    width: 250px;
  }

  